.heading1{
    background-color: yellow;
    width: 50%;
}
.heading2{
    background-color: coral;
    width: 35%;
}
.sunset{
    border: 2px beige;
}
 body{
    background-repeat: round;
    background-image: linear-gradient(to right,blue 0%,red 100%),url('w3css.gif');
    background-blend-mode:color-dodge;
    text-align: center;
}
#aboutme{
    background-image: cross-fade(to right,yellow 20%,yellowgreen 80% ),url(w3css.gif);
}
p{
    font-size: 20px;
    font-weight: 500;
}